In [1]:

# Addition
num1 = 10
num2 = 5
sum_result = num1 + num2
print("Sum:", sum_result)

# Subtraction
sub_result = num1 - num2
print("Subtraction:", sub_result)

# Multiplication
mul_result = num1 * num2
print("Multiplication:", mul_result)

# Division
div_result = num1 / num2
print("Division:", div_result)

# Floor Division (integer division)
floor_div_result = num1 // num2
print("Floor Division:", floor_div_result)

# Modulus (remainder)
mod_result = num1 % num2
print("Modulus:", mod_result)

# Exponentiation
exp_result = num1 ** num2
print("Exponentiation:", exp_result)

Sum: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

In [3]:
# Get input from the user
age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))

# Check if the user is eligible for a specific ride
if age >= 12 and height >= 1.2:
    print("You are eligible to ride the roller coaster!")
else:
    print("Sorry, you are not eligible to ride the roller coaster.")

Enter your age: 10
Enter your height in meters: 2
Sorry, you are not eligible to ride the roller coaster.



 Logical OR operator example

In [7]:


# Taking input from the user
age = int(input("Enter your age: "))

# Checking if the age is either less than 18 or greater than 65
if age < 18 or age > 65:
    print("You are eligible for special discounts.")
else:
    print("You are not eligible for special discounts.")

Enter your age: 19
You are not eligible for special discounts.

In [8]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 < num2:
    print(f"{num1} is less than {num2}")
else:
    print(f"{num1} is equal to {num2}")

Enter the first number: 1
Enter the second number: 4
1.0 is less than 4.0

Compare the numbers using the == operator

In [9]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1 == num2:
    print("The numbers are equal.")
else:
    print("The numbers are not equal.")

Enter the first number: 10
Enter the second number: 10
The numbers are equal.