Python operators Arithmetic operators

In [1]:
x=12
y=4


sum=x+y
diff=x-y
prod=x*y
div=x/y
fdiv=x//y
mod=x%y
power= x**y
print(sum)
print(diff)
print(prod)
print(div)
print(fdiv)
print(mod)
print(power)

16
8
48
3.0
3
0
20736

20 Handson with logical and comparison operators

In [2]:
age=input("Enter the age")
print(type(age))

Enter the age12
<class 'str'>

typecasting

In [3]:
age=int(input("Enter the age"))
print(type(age))

Enter the age24
<class 'int'>

logical and comparison operators

In [4]:
age=int(input("Enter the age"))
print(age>18 and age<60)

Enter the age20
True

In [5]:
age=int(input("Enter the age"))
print(age>18 and age<60)

Enter the age10
False

In [6]:
age=int(input("Enter the age"))
print(age>18 and age<60)
print(age>18 or age>21)

Enter the age10
False
False

In [7]:
age=int(input("Enter the age"))
print(age>18 and age<60)
print(age>18 or age>21)

Enter the age20
True
True